# Cache do Python
__pycache__/
*.py[cod]

# Banco de dados SQLite (caso esteja testando localmente)
*.sqlite3
db.sqlite3
*.db

# Logs
*.log

# Arquivos de ambiente (segredos)
.env
.env.*

# Arquivos de tradução
*.pot
*.mo

# Arquivos temporários de editores
*.swp
*.swo
*.bak
*.tmp

# Ambientes virtuais
.venv/
venv/

# Diretórios Django gerados
/media/
/staticfiles/
static/

# VSCode
.vscode/

# Dados persistentes do Docker
postgres_data/
__docker_cache__/
*.pid

# Arquivos do sistema
.DS_Store
Thumbs.db

# Arquivos de debug (caso salve dumps ou prints)
*.debug

# Arquivos do JetBrains (caso use PyCharm ou Rider)
.idea/
