# Indica que esse é o arquivo raiz de configuração
root = true

# Todos os arquivos
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 4

# Arquivos HTML
[*.html]
indent_size = 2

# YAML e Dockerfile
[*.yml]
indent_size = 2

[Dockerfile]
indent_size = 2
