{% load static %}
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

  <!-- Brand -->
  <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{% url 'painel_admin' %}">
    <div class="sidebar-brand-icon rotate-n-15">
      <i class="fas fa-tools"></i>
    </div>
    <div class="sidebar-brand-text mx-3">Juma OS</div>
  </a>

  <hr class="sidebar-divider my-0"/>

  <!-- Dashboard -->
  <li class="nav-item{% if request.resolver_match.url_name=='painel_admin' %} active{% endif %}">
    <a class="nav-link" href="{% url 'painel_admin' %}">
      <i class="fas fa-tachometer-alt"></i>
      <span>Dashboard</span>
    </a>
  </li>

  <hr class="sidebar-divider"/>

  <!-- Técnica -->
  <div class="sidebar-heading">Serviços</div>

  <li class="nav-item{% if request.resolver_match.url_name=='listar_os_funcionario' %} active{% endif %}">
    <a class="nav-link" href="{% url 'listar_os_funcionario' %}">
      <i class="fas fa-list"></i>
      <span>Minhas OS</span>
    </a>
  </li>

  <hr class="sidebar-divider d-none d-md-block"/>

  <!-- Logout -->
  <li class="nav-item">
    <a class="nav-link" href="#" data-bs-toggle="modal" data-bs-target="#logoutModal">
      <i class="fas fa-sign-out-alt"></i>
      <span>Sair</span>
    </a>
  </li>

</ul>
